// ----- 颜色 -----
$--primary-font-color: #333;
$--minor-font-color: #bababa;
$--primary-color: #0076ff;
$--border-color: black;
$--header-color: #f3f6f8;
$--color-green: #356604;
$--color-red: #6f0909;
$--color-orange: #ebab61;
$--color-blue: #0076ff;
$--color-light-blue: #20a0ff;
$--color-unimportant: #929aa3;
$--color-yellow: #f7ba2a;

// ----- 布局尺寸 -----
$--header-height: 70px; // 头部高度
$--crumbs-height: 70px; // 头部高度
$--border-radius: 2px;
$--menu-width: 220px;
$--menu-height: 50px;
$--menu-bg-color: #33404e;
$--menu-active-color: #5b91db;
$--container-padding: 15px;
// ----- 行内表单域 -----
$--form-input-width: 194px;
$--form-input-height: 34px;
$--form-input-bg-color: #2f437b;
$--form-button-width: 70px;
$--form-label-color: #f4f5f6;
// $--warning-bg-color: #eea964;
// $--info-color: #2f437b;
// $--info-font-size: #91afdb;

// ----- 文字尺寸 -----
$--font-size-xxxl: 25px;
$--font-size-xxl: 20px;
$--font-size-xl: 17px;
$--font-size-l: 16px;
$--font-size-m: 15px;
$--font-size-s: 14px;
$--font-size-xs: 13px;
$--font-size-xxs: 12px;
%font-size-xxxs {
  font-size: $--font-size-xxs;
  transform: scale(0.9167);
}

%font-size-xxxxs {
  font-size: $--font-size-xxs;
  transform: scale(0.8333);
}


%ell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

%clfix {
  &:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
  }
}

%center {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@mixin flex($x-align: center, $y-align: center) {
  display: flex;
  justify-content: $x-align;
  align-items: $y-align;
}
// %red-repeat-bg {
//   background: repeating-linear-gradient(
//     110deg,
//     #981206,
//     #981206 20px,
//     #7d0d05 20px,
//     #7d0d05 80px,
//     #981206 80px,
//     #981206 120px
//   );
// }

