// 按钮涟漪效果
@keyframes ripple {
  to {
    transform: scale(2);
    opacity: 0;
  }
}

.ripple {
  position: absolute; // background: rgba(3, 58, 241, 0.16);
  background: rgba(255, 255, 255, 0.16);
  border-radius: 100%;
  transform: scale(0);
  pointer-events: none;
  animation: ripple .75s ease-out;
}

[disabled],
.disabled {
  .ripple {
    animation: none;
  }
}
