@font-face {
    font-family: "kalinga";
    src: url("kalinga.eot"); /* IE9 */
    src: url("kalinga.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("kalinga.woff") format("woff"), /* chrome, firefox */
    url("kalinga.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("kalinga.svg#kalinga") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


